<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\ExcelCultDb.db;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="username" value="cult_user"/>
    <add key="password" value="cult_password"/>

    <add key="VIEW_TYPE_POLICY" value="POLICY"/>
    <add key="VIEW_TYPE_QUOTE" value="QUOTE"/>
    <add key="MAX_FILE_SIZE" value="2048"/>
  </appSettings>
</configuration>